// Customize Vuetify theme by changing stylus variables

@import '~vuetify/src/stylus/settings/_variables'

$body-font-family = 'Lato'
$heading-font-family = 'UnifrakturCook'


@import '~vuetify/src/stylus/main'
